.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  background-color: rgba(34,34,36, 1);
}

h1 {
  color: rgba(238,21,21, 1);
}

a {
  color: rgba(238,21,21, 1);
}

a:hover {
  color: rgba(240,240,240, 1);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#gridContainer {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  padding: 10px;
  border: 1px solid rgba(240,240,240, 0.8);
}

.gridItem {
  text-transform: capitalize;
  border: 2px solid rgba(240,240,240, 0.8);
  padding: 20px;
}